#board {
    width: 300px;
    height: 300px;
    border: 1px #999999 solid;
  }

  .cell {
    display: block;
    width: 98px;
    height: 98px;
    border: 1px #999999 solid;
    float: left;
    cursor: pointer;

    font-size: 70px;
    text-align: center;
    line-height: 98px;
  }

  .cell.fill-x,
  .cell.fill-o {
    cursor: not-allowed;
  }

  .cell.fill-x::after {
    content: "X";
    color: red;
  }

  .cell.fill-o::after {
    content: "O";
    color: blue;
  }

  .cell:hover {
    background: #f1f1f1;
  }

  .highlight {
    background: #aaffaa !important;
  }